[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"

[dev-packages]
pytest = "*"
"flake8" = "*"
pydocstyle = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
